/* main color accents
main background #ffffff
iris primary brand            #4D5AE5
navy blue headings            #2E2F42
slate body text               #434455
cornflower lght accent color  #E7E9FC
light slate helper text       #8E8F99
 */
:root {
  --navigation-list-color: #2e2f42;
  --benefits-title-color: #2e2f42;
  --accent-colr: #4d5ae5;
  --text-color: #434455;
  --section-title-color: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* --------------GLOBAL STYLES------------- */
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

/* --------------HEADER------------- */
.logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo-accent {
  color: var(--accent-colr);
}

.header-list {
  display: flex;
  /* margin-right: auto; */
}

.header-navigation {
  display: flex;
}

.header-navigation .logo {
  margin-right: 76px;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navigation-list-color);
}
.header-link:hover,
.header-link:focus {
  color: #434455;
}

.header-link:active {
  color: var(--accent-colr);
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-colr);
}

/* --------------HERO------------- */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 48px;
}

.hero-btn {
  background-color: var(--accent-colr);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
}

/* --------------SECTIONS PADDINGS------------- */
.section:not(:last-child) {
  margin-bottom: 120px;
}

/* --------------BENEFITS------------- */
.benefits-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--benefits-title-color);
  margin-bottom: 8px;
}

.benefits-list {
  display: flex;
}

.benefits-item:not(:last-child) {
  margin-right: 24px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* --------------JOB------------- */
.job-title,
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-title-color);
}

.job-title {
  margin-bottom: 72px;
}

.job-list {
  display: flex;
  justify-content: space-between;
}

/* --------------TEAM------------- */
.team {
  background-color: #f4f4fd;
}

.team-title {
  padding-top: 120px;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  /* justify-content: center; */
  padding-bottom: 120px;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--benefits-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* --------------FOOTER------------- */
.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
  padding-top: 100px;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  padding-bottom: 100px;
}

/* --------------PORTFOLIO------------- */

/* --------------FILTER BUTTONS------------- */

.portfolio-btn-item {
  background-color: #f4f4fd;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-colr);
  cursor: pointer;
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  background-color: var(--accent-colr);
  color: #ffffff;
}

/* --------------PROJECTS------------- */
.portfolio-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--benefits-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
